/build
*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
*.apk
*.ap_
*.dex
*.class
bin/
gen/
out/
.gradle/
build/
local.properties
proguard/
# Log Files
*.log
.navigation/
captures/
# Intellij
*.iml
.idea/workspace.xml
# Keystore files
/*/build/
com_crashlytics_export_strings.xml
.signing/
gradle/
/build
.gradle
/local.properties
/.idea/libraries
.DS_Store
/captures
.externalNativeBuild
.idea/
app/*.txt
*.txt
misc.xml
*.ajcore